header{
  position: absolute;
  z-index: 1000;
  width: 100%;
  .navbar{
    padding: 0;
    .navbar-brand{
      padding-top: 7px;
      padding-bottom: 7px;
      width: 135px;
      img{
        width: 100%;
      }
    }
    .nav-lists{
      margin-#{$left}: auto;
      width: 80%;
      > *{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      #closeNav{
        display: none;
      }
      .contacts{
        border-bottom: 1px solid #d4d4d4;
        padding: 0.5rem 0;
        ul{
          display: flex;
          align-items: center;
          li{
            margin-#{$right}: 30px;
            direction: ltr;
            &:last-child{
              margin: 0;
            }
            a{
              font-size: $small-size;
              color: $gray-txt;
              i{
                margin-right:4px;
              }
            }
          }
        }
      }
    }
    .navbar-nav{
      justify-content: space-between;
      width: 100%;
      .nav-item{
        .nav-link{
          color: $gray-txt;
          text-transform: uppercase;
          font-family: $medium-font;
          &.active{
            color: $scd-main-clr;
          }
        }
      }
    }
  }
}


//----------------Footer----------------
footer{
  background: linear-gradient(to right, #002d5b 45%, #00142b 55%);
  padding: 15px 0;
  width: 100%;
  bottom: 0;
  .copyright{
    margin: 0;
    margin-bottom: 7px;
    color: $white-txt;
    text-align: center;
    font-size: $small-size;
  }
  .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      margin-#{$right}: 30px;
      &:last-child{
        margin: 0;
      }
      a{
        font-size: $small-size;
        color: $white-txt;
        &:hover{
          color: darken($white-txt, 25%);
        }
      }
    }
  }
}