@import "_variables";
@import "_mixins";
@import "_partials";
@import "_grid";
@import "_general";
@import "_header-footer";
@import "_main";
@import "_responsive";


///////////////////////////////////////////////

/* english fonts */
// section heading
//body & titles
@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/Roboto-Black.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'roboto-med';
    src: url('../fonts/Roboto-Medium.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf');
    font-style: normal;
}



/* Arabic fonts */
@font-face {
    font-family: 'DroidKufi';
    src: url('../fonts/DroidKufi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BalooBhaijaan';
    src: url('../fonts/BalooBhaijaan-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}